@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  max-width: 1440px;
  margin: 0 auto;
}

/* Shared Style */
.flex{
  display: flex;
}

/* Navbar */
.navbar{
  /* padding: 20px 140px; */
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 1160px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.nav-left{
  align-items: center;
}
.nav-header{
  font-size: 2rem;
  font-weight: bold;
  padding-left: 11px;
}
.nav-link{
  display: flex;
  gap: 32px;
}
.navbar ul li{
  list-style: none;
  font-size: 1.25rem;
  font-weight: bold;
}
.navbar ul li a{
  text-decoration: none;
}
.home{
  color: #FEA301;
}
.about{
  color: #01ACFD;
}
.facilities{
  color: #05D4DF;
}
.admission{
  color: #5D58EF;
}
.nav-btn{
  background-color: #FEA301;
  color: white;
  padding: 10px 60px;
  border: none;
  border-radius: 12px;
  font-size: 1.25rem;
  font-weight: 600;
}
.fa-bars{
  display: none;
}

/* Banner */
.banner{
  max-width: 1160px;
  /* padding: 0 140px; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.banner-content{
  max-width: 640px;
}
.banner-header{
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 24px;
}
.banner-text{
  font-size: 1.25rem;
  color: #111111;
  margin-bottom: 24px;
}
.empowering{
  color: #FEA301;
}
.towards{
  color: #01ACFD;
}
.btn{
  font-size: 1.25rem;
  font-weight: bold;
  padding: 10px 47px;
  color: white; 
  background-color: #111111;
  border: none;
  border-radius: 12px;
}
.banner img{
  width: 100%;
}

/* Curriculum */
.curriculum{
  background-image: url(/assets/backround.png);
  background-size: cover;
}

.curri{
  max-width: 1160px;
  margin: 60px auto;
}
.curri-header{
  font-size: 2.85rem;
  font-weight:bold ;
  text-align: center;
  margin-bottom: 75px;
}
.boxes{
  display: flex;
  justify-content: space-between;
}
.box{
  max-width: 368px;
  padding: 52px 41px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  border-radius: 19px;
  box-shadow: 0 0 28px .94px rgba(0, 0, 0, 0.05);
}
.box-1>h4{
  margin-top: 22px;
}
.box-header{
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 33px;
  margin-bottom: 32px;
}
.box-text{
  color: #808080;
  font-weight: 600px;
  margin-bottom: 32px;
}
.read{
  font-weight: bold;
}
.read-1{
  color: #64C8FF;
}
.read-2{
  color: #F0AA00;
}
.read-3{
  color: #8700FF;
}
.box-1{
  background-image: linear-gradient(#DEF5FF 0%,white 40%);
}
.box-2{
  background-image: linear-gradient(#FFF4DC 0%, white 40%);
}
.box-3{
  background-image: linear-gradient(#F2E8FF 0%, white 40%);
}
.icon{
  text-align: center;
  margin-top: 40px;
}
.fa-arrow-left, .fa-arrow-right{
  background-color: orange;
  color: white;
  font-size: 2.5rem;
  margin-right: 4px;
  margin-left: 4px;
  border-radius: 50%;
  padding: 7px;
}

/* Stories */
.mstories {
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 165, 0, 0.3)), 
    url('/assets/backround.png');
  background-size: cover;
  background-position: center;
}
.stories{
  max-width: 1160px;
  margin: 60px auto 0 auto;
}
.stories-header{
  font-size: 2.9rem;
  text-align: center;
  margin-bottom: 80px;
}
.astories{
  display: flex;
  justify-content: space-between;
}
.bstory{
  max-width: 540px;
  margin-right: 19px;
  background-color: white;
  border-radius: 16px; 
}
.bstory-content{
  padding: 0 39px;
}

.bstory>img {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin-bottom: 50px;
}
.bstory-title{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}
.bstory-text{
  font-weight: 600px;
  color: #666666;
  margin-bottom: 35px;
}
.sstories{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 19px;
}
.sstory{
  background-color: white;
 border-radius: 16px; 
}
.sstory>img{
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.sstory-title{
  margin-left: 38px;
  margin-right: 48px;
  margin-top: 30px;
  font-weight: 600;
}
.v-btn{
  text-align: center;
  margin-top: 45px;
  padding-bottom: 50px;
}

/* Footer */
.mfooter{
  background-color: #01ACFD;
  
}
.footer{
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer-middle li{
  list-style: none;
}
.footer-middle a{
  text-decoration: none;
  color: white;
}
.left-title{
  color: white;
  font-weight: bold;
  font-size: 2.6rem;
  line-height: .95;
}
.left-text{
  color: white;
  font-size: 1.25rem;
  margin-top: 35px;
  max-width: 400px;
}
.flex1{
  display: flex;
  gap: 15px;
}
.footer-left{
  padding-top: 120px;
  padding-bottom: 170px;
}
.middle-title{
  padding-top: 120px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 32px;
}
.flinks{
 font-size: 1.25rem;
 font-weight: 600;
 margin-bottom: 22px;
}
.footer-right{
  text-align: center;
}
.right-title{
  padding-top: 120px;
  color: white;
  font-size: 1.7rem;
  margin-bottom: 30px;
}
marquee{
  background-color: #f5eaac;
  font-size: 2.3rem;
  font-weight: bolder;
}
.maq{
  background-color: #f5eaac;
  text-align: center;
}


@media screen and (max-width:600px) {
  .nav-header, .nav-middle, .nav-btn{
    display: none;
  }
  .fa-bars{
    display: inline;
    font-size: 2rem; 
  }
  .navbar{
    border-bottom: 1px solid orange;
    padding: 12px 16px;
  }
  .banner{
    flex-direction: column-reverse;
    text-align: center;
    padding: 20px 16px;
  }
  .banner-header{
    font-size: 2rem;
  }
  .banner-text{
    font-size: .88rem;
    font-weight: 600; 
  }
  .btn{
    font-size: 1rem;
    padding: 6px 24px;
    border-radius: 8px;
  }
  .boxes{
    flex-direction: column;
    align-items: center;
  }
  .icon{
    display: none;
  }
  .curri{
    margin-top: 40px;
    margin-bottom: 0;
  }
  .curri-header{
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 1.8rem;
  }
  .bstory{
    display: none;
  }
  .stories-header{
    font-size: 1.6rem;
    margin-bottom: 32px;
  }
  .sstories{
    padding: 0 16px;
  }
  .sstory-title{
    font-size: .7rem;
    margin-left: 12px;
    margin-right: 9px;
    padding-bottom: 15px;
  }
  .v-btn{
    margin-top: 25px;
    padding-bottom: 45px;
  }
  .footer{
    flex-direction: column;
    padding: 16px;
  }
  .footer-left{
    padding-top: 40px;
    padding-bottom: 0;
  }
  .footer-right{
    text-align: left;
  }
  .right-title{
    padding-top: 30px;
  }
  .middle-title{
    padding-top: 40px;
  }
  .footer-middle li{
    margin-bottom: 15px;
    font-size: 1rem;
    font-weight: 600;
  }
  .footer-middle h4{
    margin-bottom: 25px;
  }
  .left-text{
    font-size: 1rem;
    font-weight: normal;
    margin-top: 20px;
  }
  .middle-title{
    font-weight: 600;
    font-size: 1.25rem;
  }
  .right-title{
    margin-bottom: 17px;
  }
  .footer-right{
    margin-bottom: 30px;
  }
  marquee{
    height: 35px;
    font-size: 1.6rem;
    width: 95%;
  }
}